<!-- Modal content-->
<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Report Issue</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <span class="label label-danger"></span>
            <div class="form-group">
                <label for="issueProblem" class="control-label">Please enter your feedback in text box below:</label>
                <div>
                    <textarea style="overflow-y: scroll; overflow-x: scroll" class="form-control" rows="10" id="body"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="fromAddress">Your email address:</label>
                <input class="form-control input-lg" type="email" id="fromAddress"/>
            </div>

        </form>

    </div>
    <div class="modal-footer">
            <button class="btn btn-primary" ng-click="submitIssue()">Submit</button>
            <button class="btn btn-warning" ng-click="close()">Close</button>
    </div>
</div>
