/* Exclude instructions for default printing and with 'Print' link clicked */
@media print {
   body {
      font-family: Arial,Helvetica;
      font-size: 9pt;
      width: 700;
      text-align: left;
      margin-left: 1;
   }
   
   a {
   	  display: none;
   }
   
   #containerInstruction {
   	   display: none;
   }
}