
<div class="container">
  <div class="card-group">

    <div class="card full">
      <div class="card-padding">
        <h3>Home Component</h3>
        <p>Welcome to GNomEX.</p>
      </div>
    </div>

    <div class="card">
      <div class="card-padding min-30">
        <h4>Experiments</h4>
        <div class="col-md-offset-1">
          <ul>
            <li>
              <a class="content-link" [routerLink]="[ '/experiments' ]">Browse Experiments</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-padding min-30">
        <h4>About</h4>
        <div class="col-md-offset-1">
          <ul>
            <li>
              <a class="content-link" [routerLink]="[ '/about' ]">About Link</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
