.inlineComboBox {
  display: inline-block;
}

.hintLink
{
  fontSize: 9;
  paddingLeft: 1;
  paddingRight: 1;
  paddingBottom: 1;
  paddingTop: 1;
}

.sidebar {
  width: 25%;
  position: relative;
  left: 0;
  background-color: #ccc;
  transition: all .25s;
}

.flex-column-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100%;
}

.flex-row-container {
  display: flex;
  flex-direction: row;
}

.item-row {

}
.item-row-one {
  flex-grow: 1;
}

.item-row-two {
  flex-grow: 1;
}

.item {
  flex: 1 1 auto;
  font-size: small;
}

.one {
  width: 100%;
  flex-grow: .25
}

.two {
  width: 20%;
  flex-grow: .10;
 }

.three {
  width: 20%;
  height: 6em;
  flex-grow: 8;
}

.four {
  width: 20%;
  flex-grow: .10;
}

.five {
  width: 20%;
  flex-grow: .10;
}

.t {
  display: table;
  width: 100%;
}

.tr {
  display: table-row;
  width: 100%;
}

.td {
  display: table-cell;
}

div.lower-panel{
  height: 100%;
  width: 100%;
  border: 1px solid darkgrey;
  background-color: white;
  padding: 0.3em;
  display: block;
}

.jqx-tree {
  height: 100%;
}

.jqx-notification {
  margin-top: 30em;
  margin-left: 20em;
}

//.jqx-notification {
//  height: 10em;
//  position: relative }
//.jqx-notification p {
//  margin: 0;
//  background: yellow;
//  position: absolute;
//  top: 50%;
//  left: 50%;
//  margin-right: -50%;
//  transform: translate(-50%, -50%) }
