input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

table.inner-table thead tr {background-color: #EEF9FA}
table.inner-table tbody tr:nth-child(even) {background-color: #EEF9FA}
table.inner-table tbody tr:nth-child(odd) {background-color: #E4F4FC}



.table-container
{
	width: 100%;
    overflow: auto;
	margin: 0 0 1em;
	height: 90%;
	font-size: 1em;
    font-family: "Arial";
    
    
}

.editBackground{
	color: "LightYellow";
}

.td-container-unselected {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100px;
    min-width: 100px;
    color: #D1D0CE;
}

.td-container-selected {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100px;
    min-width: 100px;
    color: #333;
}

.filename-dialog .modal-body {
	overflow-y: auto;
}

.filename-dialog .modal-dialog {
	width: 50%;
}

.preview-dialog .modal-dialog {
   width: 80%;
}
.preview-dialog .modal-body {
	overflow-y: auto;
}

.modal-body {
	overflow-y: visble;
}

.modal-body.text-info > h3 {
	color: red;
}

.modal-body.text-info > h1 {
	color: black;
}

.modal-body.text-info > h4 {
	font-style: italic;
	color: black;
}

.navbar-fixed-top {
    height: 55px;
}

.navbar-nav > li > a {
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 55px;
	font-size: 10pt;
	font-family: "Raleway", sans-serif;
	font-weight: 300;
    padding-left: 10px;
}

@media (min-width: 768px) { 
   .navbar-form { 
     line-height: 40px; 
   }
 }

@media (max-width: 767px) {
  .navbar-nav > li > a {
     line-height: 20px;
     padding-top: 10px;
     padding-bottom: 10px;
    
  }
}

@media (min-width: 768px) {
 .navbar-nav {
      float: left;
 	  margin: 0;
  }
}

.navbar-brand {
	padding-top: 10px;
	font-size: 15pt;
	font-family: "Raleway", sans-serif;
	font-weight: 400;
}


/* Toolbar styling */
.toolbar {
	margin-bottom:  16px;
	margin-top:     0px;
	margin-right:   4px;
	margin-left:    4px;
	vertical-align: middle;
}

div.toolbar h3 {
	float:         left;
	display:       inline;
	margin-top:    4px;		
	margin-bottom: 0px;	
	margin-right:  40px;
	margin-left:   0px;
	font-size:     17px;	
	color:         #777;
	font-family: "Raleway", sans-serif !important;
}

.h3-toolbar {
	margin-right: 20px; 
	margin-left: 18px;
	margin-top:  0px;
	margin-bottom: 15px;
	font-size:     17px;	
	color:         #777;
	font-family: "Raleway", sans-serif !important;
}

.page-header-bm {
	float:         left;
	font-size:     18px;
	color:         #777;
	font-family:   "Raleway", sans-serif !important;
	margin-top:    0px;		
	margin-bottom: 0px;	
	margin-right:  40px;
	margin-left:   0px;
}

div.toolbar a {
	float:         left;
	margin-top:    4px; 
	margin-right:  30px;
	margin-left:   0px;
	margin-bottom: 0px; 
	font-family: "Raleway", sans-serif !important;
	font-size:    12px;
}




.right {
	float: right !important;
}

.left {
	float: left !important;
}


.center {
	text-align: center
}



ul {
	list-style-type: none;
	padding-left: 0px;
	margin-top: 0px;
}


li a {
	text-decoration:none;
	display: block;
	color: #000000;
/* 	border-bottom:solid 1px #CCCCCC; */
/* 	padding: 8px; */
}

li a:hover {
	background-color: #E7E7E7;
	color: #000000;
}

li a.current-project {
	background-color: #FFFFCC;
	color: #000000;
}

.fixed-label {
	width: 120px;
}

<!-- jQuery File Upload styling -->
.fileupload-progress {
	margin: 10px 0;
}
.fileupload-progress .progress-extended {
	margin-top: 5px;
}
.error {
  color: red;
}

.main {
	padding: 20px;
}

.v-center {
  margin-top:0;
}


h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.panel-heading
{
	font-family: "Raleway", Helvetica, Arial, sans-serif !important;
    font-weight: 300 !important;
}

.panel-title {
	font-size: 13px;	
}

.panel-heading {
	padding: 5px 15px;
}

.panel-footer-btn {
	height: 40px;
}

.panel-footer-table {
	height: 50px;
}

.panel-heading-btn {
	padding: 12px 12px;
	
}

.panel-heading-btn .panel-title {
	font-size: 15px;
}

.panel-heading-label {
	font-size: 15px;
}

.panel {
    margin-bottom: 5px;
}

.table-button {
	margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 1px;
    margin-left: 1px;
}

.list-group {
	margin-bottom: 5px;
}

.help-button {
	font-size:16px; 
	color: CornflowerBlue;
	cursor:pointer;
}



.radio-top {
	vertical-align: top;
}

.input-xs {
    height: 11px;
    padding: 5px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.panel-heading-accordion {
	background-color: white; 
	padding-left: 15px; 
	padding-top: 6px; 
	padding-bottom: 6px; 
	padding-right: 6px;
	border-bottom: 1px solid transparent;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}
label {
    font-family:  'Muli', Helvetica, Arial, sans-serif!important;	
     font-weight: 400 !important;	
}
.radio-inline, .checkbox-inline {
    font-family:  'Muli', Helvetica, Arial, sans-serif!important;	
     font-weight: 400 !important;
	
}
body {
     font-family:  'Muli', Helvetica, Arial, sans-serif!important;	
     font-weight: 400 !important;
     padding-top: 75px;
     font-size: 12px;
}



.nvd3 text {
	font-family:  'Muli', Helvetica, Arial, sans-serif!important;
	font: 400 11px Arial;
}

.badge {
	font-size: 11px;
}

.list-group-item {
	padding: 5px 15px;
}


/* Grey out the label when it is disabled */
.grey-out {
	color: rgb(162, 163, 170) !important;
}

/* Query box */
.well-querysum {
	margin-right: 10px;
	background-color: rgba(255, 251, 234, 1);
	border: solid 1px rgb(231, 222, 198);
	border-radius: 2px;
	padding: 4px;
	line-height: 2.2;
	color: #666;
	font-size: 10px;
}



/*  Callout boxes */
.bs-callout {
	margin: 20px 0;
	padding: 15px 30px 15px 15px;
	border-left: 5px solid #eee;
}
.bs-callout h4 {
	margin-top: 0;
}
.bs-callout p:last-child {
	margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
	background-color: #fff;
}
 
/* Themes for different contexts */
.bs-callout-danger {
	background-color: #fcf2f2;
	border-color: #dFb5b4;
}
.bs-callout-warning {
	background-color: #fefbed;
	border-color: #f1e7bc;
}
.bs-callout-info {
	background-color: #f0f7fd;
	border-color: #d0e3f0;
}
.bs-callout-success {
	background-color: #EAFFDB;
	border-color: #BEE8A2;
}


/* custom buttons (exploratory styling) */
.green-button {
	-moz-box-shadow: 0px 10px 14px -7px #3e7327;
	-webkit-box-shadow: 0px 10px 14px -7px #3e7327;
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
	background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
	background-color:#77b55a;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.green-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
	background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
	background-color:#72b352;
}
.green-button:active {
	position:relative;
	top:1px;
}

.normal-button {
	-moz-box-shadow: 0px 10px 14px -7px #a6a6a6;
	-webkit-box-shadow: 0px 10px 14px -7px #a6a6a6;
	box-shadow: 0px 10px 14px -7px #a6a6a6;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-size:15px;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.normal-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
}
.normal-button:active {
	position:relative;
	top:1px;
}




/*  Toggle buttons */

.btn-toggle:active, .btn-toggle.active {
	outline: 0;
	background-image: none;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
	box-shadow: inset 0 3px 5px rgba(53, 53, 53, 1);
	color: white !important;
}

.btn-toggle {
	background-color: hsl(211, 66%, 67%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d0e3f0", endColorstr="#74acd2");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#d0e3f0), to(#74acd2));
	background-image: -moz-linear-gradient(top, #d0e3f0, #74acd2);
	background-image: -ms-linear-gradient(top, #d0e3f0, #74acd2);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d0e3f0), color-stop(100%, #74acd2));
	background-image: -webkit-linear-gradient(top, #d0e3f0, #74acd2);
	background-image: -o-linear-gradient(top, #d0e3f0, #74acd2);
	background-image: linear-gradient(#d0e3f0, #D5D5D5);
	border-color: #74acd2 #74acd2 hsl(204, 51%, 58%);
	color: #333 !important;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.39);
	-webkit-font-smoothing: antialiased;
}


/* Special section header that deliniates using a border */
.section-header {
	border-bottom: solid thin lightgray;
	font-size: 14px;
	display: block;
	padding-top: 20px;
	margin-bottom: 10px;
	color: #777;
}


/* No wrap for table cells */
.nowrap-ellipsis {
	white-space: nowrap; 
	text-overflow:ellipsis; 
	overflow: hidden; 
	max-width:1px;
}
.nowrap {
	white-space: nowrap;
}

/* #test { */
	
/* /* 	General */ */
/*  	transform: translate(-10%, -10%) scale(0.8, 0.8); */
/* /* 	Firefox */ */
/*  	-moz-transform: translate(-10%, -10%) scale(0.8, 0.8); */
/* /* 	Microsoft Internet Explorer */ */ */
/*  	-ms-transform: translate(-10%, -10%) scale(0.8, 0.8); */
/* /* 	Chrome, Safari */ */
/*  	-webkit-transform: translate(-10%, -10%) scale(0.8, 0.8); */
/* /* 	Opera */ */
/*  	-o-transform: translate(-10%, -10%) scale(0.8, 0.8); */
/*  	width: 125%; */
/*  	height: 125%; */
/* } */






