/* CSS file */

/*
HCI Blue = 00529F
HCI Teal = 00A9B9
HCI Cream = F2EFD9
*/
 

.errorTip { 
			borderColor: #FFEA00;
			paddingTop: 0;
			paddingBottom: 0;
			paddingLeft: 4;
			paddingRight: 4;
			fontWeight: normal;
			fontSize: 9px;
			backgroundColor: #ffffcc;
			cornerRadius: 8;
	        color: #000000;
	borderThickness: 3;

		}
ToolTip{
     borderSkin: ClassReference("views.util.SmallToolTip");
}

.requiredBox {
	borderColor: #FCF495;
	borderStyle: solid;
	borderThickness: 2;
}

.normalBox {
	borderColor: #FFFFFF;
	borderStyle: solid;
	borderThickness: 2;
}

.requiredBoxThick {
	borderColor: #F4F588;
	borderStyle: solid;
	borderThickness: 2;
}

.normalBoxThick {
	borderColor: #FFFFFF;
	borderStyle: solid;
	borderThickness: 2;
}

.requiredCell {
	backgroundColor: #FFFFB9;
}

ComboBox {
	errorColor: #ffff00;
}
TextInput {
	errorColor: #ffff00;
}

List {
	selectionColor: #8FBCF4;
	rollOverColor: #CCE3FA;

  paddingBottom: 0;   
  paddingLeft: 0;   
  paddingTop: 0;   
  paddingRight: 0;   

}

DataGrid {
	headerStyleName: dataGridHeader;	
	selectionColor: #8FBCF4;
	rollOverColor: #CCE3FA;

}

Tree {
	selectionColor: #8FBCF4;
	rollOverColor: #CCE3FA;
	dropShadowEnabled: true;
}
AdvancedDataGrid {
	selectionColor: #8FBCF4;
	rollOverColor: #CCE3FA;
	headerStyleName: dataGridHeader;
} 


Panel {
   borderThicknessLeft: 4;
   borderThicknessTop: 0;
   borderThicknessBottom: 4;
   borderThicknessRight: 4;
   roundedBottomCorners: true;
   headerHeight: 22;
   backgroundColor: #C3C2B7;
   border-color: #C3C2B7;
   titleStyleName: panelTitle;
   controlBarStyleName: panelControlBar;
   statusStyleName: panelStatus;
   borderAlpha: 1;
   dropShadowEnabled: true;
}

.panelControlBar {
	roundedBottomCorners: false;
}
.panelTitle {
	fontWeight: normal;
	fontStyle: normal;
}

.navBox {
	backgroundColor: #C3C2B7;
	borderColor: #C3C2B7;
	borderStyle: solid;
	cornerRadius: 5;
	horizontalGap: 12;
	paddingBottom: 2;
	paddingTop: 2;
}

TitleWindow {
	borderColor: #C3C2B7;
	backgroundColor: #C3C2B7;
	cornerRadius: 4;
	borderThicknessTop: 2;
	borderThicknessBottom: 2;
	borderThicknessLeft: 2;
	borderThicknessRight: 2;
	titleStyleName: titleWindowTitle;
	headerHeight: 22;
	controlBarStyleName: titleWindowControlBar;
	dropShadowEnabled: true;
	borderAlpha: 1;
	backgroundAlpha: 1;
	backgroundSize: "100%";
}
.titleWindowTitle
{ 
	fontSize: 11;
	color: #000000;
	fontWeight: normal;
}

TitleWindow.progress {
	borderColor: #7E91A9;
	backgroundColor: #7E91A9;
	cornerRadius: 4;
	borderThicknessTop: 4;
	borderThicknessBottom: 4;
	borderThicknessLeft: 4;
	borderThicknessRight: 4;
	titleStyleName: titleWindowTitle;
	headerHeight: 0;
	controlBarStyleName: titleWindowControlBar;
	dropShadowEnabled: true;
	borderAlpha: 0.7; 
	backgroundAlpha: 0.7;
}

Alert {
	borderAlpha: 0.3;
	backgroundColor: #C3C2B7;
	borderColor: #C3C2B7;
	cornerRadius: 4;
	borderStyle: solid;
	backgroundAlpha: 0.3;
	fontSize: 11;
	titleStyleName: alertTitle;
	controlBarStyleName: alertControlBar;
	backgroundSize: "100%";
	color: #392F1E;

}

TitleWindow {
	headerColors: #C3C2B7, #C3C2B7; 
	borderColor: #C3C2B7;
	backgroundColor: #C3C2B7;
	cornerRadius: 4;
	borderThicknessTop: 2;
	borderThicknessBottom: 2;
	borderThicknessLeft: 2;
	borderThicknessRight: 2;
	titleStyleName: titleWindowTitle;
	headerHeight: 22;
	controlBarStyleName: titleWindowControlBar;
	dropShadowEnabled: true;
	borderAlpha: 1.0;
	backgroundAlpha: 1.0;
	backgroundSize: "100%";
}

 
HDividedBox {
	horizontalGap: 6;
}


ApplicationControlBar {
	fillColors: #548db8, #97b8d2; 
	dropShadowEnabled: true;
}
.accordion {

	headerStyleName: accordionHeader;
	headerHeight: 24;
	dropShadowEnabled: true;
	cornerRadius: 6;
	focusAlpha: .5; 
	backgroundColor: #CBCAC1;
	

}
.accordionHeader
{
	fillColors: #87999D, #E3E8EB;
	fillAlphas: 1.0, 1.0, 1.0, 1.0;
	selectedFillColors: #548db8, #97b8d2;
	fontWeight: normal;
	cornerRadius: 6;
	borderColor: #B7BABC;
	color: #FFFFFF;
	textRollOverColor: #FFFFFF;
	disabledColor: #FFFFFF;
}




LinkBar {
	disabledColor: #FFFFFF; 
	rollOverColor: #FFFFFF; 
	selectionColor: #FFFFFF;
	useHandCursor: true;
	fontWeight: normal;
	fontStyle: normal;
	textRollOverColor: #000000;
	textSelectedColor: #000000;
	color: #000000;
	backgroundAlpha: 1;
	horizontalGap: 8;
	separatorColor: #C3C2B7;
	linkButtonStyleName: "normalLinkButton";
	fontSize: 11;
	     
}



LinkButton
{
   fontWeight: normal;	
}

.normalLinkButton
{
   fontWeight: normal;
	textIndent: 0;	
}
.boldLinkButton
{
   fontWeight: bold;	
}


Button {
        fillAlphas: 1, 1;
        fontWeight: normal;
}

.dataGridHeader {
	    fontWeight: normal;
}

ComboBox {
	fontWeight: normal;
}

ControlBar {
	paddingLeft: 8;
	paddingTop: 0;
	paddingBottom: 3;
	paddingRight: 8;
}
        
RadioButton {
	disabledColor: #ABA1A1;
}
TextInput {
	disabledColor: #5f5f5f;
	backgroundColor: #E4E0E0;
}
TextArea {
	disabledColor: #5f5f5f;
		backgroundColor: #E4E0E0;
}

.panelBox {
	backgroundImage: Embed('../assets/panel1.png');
	backgroundSize: "100%";
	paddingTop: 4;
	paddingBottom: 2;
	paddingLeft: 4;
	paddingRight: 4;
	verticalGap: 4;
	borderColor: #5F696F;
	borderStyle: solid;
	cornerRadius: 6;
	dropShadowColor: #020000;
	dropShadowEnabled: true;
}

.panelWelcomeBox {
	backgroundImage: Embed('../assets/panelWelcome.png');
	backgroundSize: "100%";
	paddingTop: 4;
	paddingBottom: 2;
	paddingLeft: 4;
	paddingRight: 4;
	verticalGap: 4;
	borderColor: #5F696F;
	borderStyle: solid;
	cornerRadius: 6;
	dropShadowColor: #020000;
	dropShadowEnabled: true;
}
	


.form {
	backgroundColor: #FFFFFF;
	cornerRadius: 4;
	borderStyle: solid;
	dropShadowEnabled: true;
}

.formrule
{
	strokeColor: #a1a1a2;
}


.formTabBody {
	backgroundColor: #FFFFFF;
	
	dropShadowEnabled: true;
	borderStyle: solid;
	cornerRadius: 4;
}
.formTabBar {
	backgroundColor: #FFFFFF;
	borderStyle: none;
	dropShadowEnabled: false;
}

.formLinkBar {
	disabledColor: #0F24E6; 
	rollOverColor: #FFFFFF; 
	selectionColor: #FFFFFF;
	useHandCursor: true;
	color: #656C6E;
	fontWeight: normal;
	textDecoration: underline;
}

.navLinkBar {
	disabledColor: #FFFFFF; 
	rollOverColor: #FFFFFF; 
	selectionColor: #FFFFFF;
	useHandCursor: true;
	color: #000000;
	fontWeight: normal;
	textDecoration: underline;
	fontSize: 10;
	linkButtonStyleName: "normalLinkButton";
}

.formLinkButton {
	textDecoration: underline;
	color: #0000ff;
	
}

.formLinkProtocolButton {
	textDecoration: underline;
	color: #0000ff;
	fontSize: 9;	
}

.formLinkSmallButton {
	textDecoration: underline;
	fontSize: 9;
	
}
.labelSmall {
	fontSize: 9;
}
.navTabNavigator {
	
	backgroundAlpha:            1.0;
	backgroundColor: #BFC1AF;
	color: #74878B;

	tabStyleName: navTabHeader;
	firstTabStyleName: navTabHeader;
	middleTabStyleName: navTabHeader;
	lastTabStyleName: navTabHeader;

	borderColor: #5F696F;
	borderStyle: solid;
	cornerRadius: 6;
    paddingTop: 0; 
    paddingBottom: 4;
    dropShadowEnabled: true;
	backgroundSize: auto;
	 
}

.panelTabBody {
	backgroundColor: #BFC1AF;
}


.navTabHeader {
	backgroundImage: Embed('../assets/filterBar.png');
	backgroundSize: "100%";
	color: #000000;
	fillAlphas:  .5, .5;
 	fontWeight: 		normal;
 	borderColor: #5F696F;
	borderStyle: solid;
	cornerRadius: 6;	

}

.navTabHeaderTextSelected {
	color: #FFFFFF;
	errorColor: #FFFFFF;
	fontWeight: bold;
}




.navLinkBar {
	disabledColor: #1728CF; 
	rollOverColor: #FFFFFF; 
	selectionColor: #FFFFFF;
	useHandCursor: true;
	color: #000000;
	fontWeight: normal;
	textDecoration: underline;
}

.popupWindow {
	headerColors: #CBCAC1, #CBCAC1;
	backgroundColor: #CBCAC1;
	borderColor: #CBCAC1;
	cornerRadius: 4;
	borderStyle: none;

}

.appProgressWindow {
   borderAlpha: 1;
   dropShadowEnabled: true;
   cornerRadius: 4;
   headerColors: #548db8, #a3bbcd; 
   borderThicknessLeft: 0;
   borderThicknessTop: 0;
   borderThicknessBottom: 0;
   borderThicknessRight: 0;
   roundedBottomCorners: true;
   headerHeight: 0;
   titleStyleName: appProgressTitle;
   backgroundColor: #A3BBCD;
   borderColor: #A3BBCD;
}


.appProgressBar {
    barColor: #45C014;
    trackColors: #ffffff, #ffffff;
    paddingTop: 14;
	trackHeight: 10;
	verticalGap: 0;
	paddingLeft: 14;
	paddingRight: 14;
	verticalGap: 10;
	fontSize: 12;
	fontWeight: normal;
	color: #ffffff;
	fontFamily: Arial;
}


.appProgressTitle {
	fontWeight: normal;
	fontColor: black;
	
}

.dirtyPanel {
   headerColors:   #66aa55, #99dd99; 
   titleStyleName: dirtyPanelTitle;
   
}

.dirtyPanelTitle {
	 color: #ffffff;
	/*fontStyle: italic;*/

	 
}

.blueLinkButton {
	color: #0F19DF;
}
.tabBarSelectedTabText
{
	fontFamily: "Arial Narrow";
}
.instructionBox
{
	backgroundColor: #FFFEC3;
	fontSize: 9;
	backgroundAlpha: 0.8;
	borderStyle: solid;
	cornerRadius: 4;
}

Text.welcome
{
	color: #000000;
	fontFamily: Arial;
	fontSize: 11;
}
Text.welcomeTitle
{
	color: #000000;
	fontFamily: Arial;
	fontSize: 15;
	fontWeight: bold;
}
Text.welcomeHeader
{
	color: #000000;
	fontFamily: Arial;
	fontSize: 13;
	fontWeight: normal;
	leading: 0;
}
Text.submitNote
{
	color: #0000ff;
}


.menuBar {
	borderStyle: solid;
	borderThickness: 1;
	backgroundColor: #CAC9BE;
	cornerRadius: 6;
	horizontalGap: 0;
	paddingBottom: 2;
	paddingLeft: 0;
	paddingRight: 0;
	paddingTop: 2;
	verticalAlign: middle;
	dropShadowEnabled: true;
	dropShadowColor: #77725C;
}
Label.titleLabel
{
	color: #000000;
}
.tabNavigatorFirstTab
{
	fillAlphas: 1.0, 1.0;
	fillColors: #7F6060, #581212, #6699A4, #2B1010;
}
.dashboardButton
{
	fillAlphas: 1.0, 1.0;
	fillColors: #Ffffff, #dadfc9;
	fontFamily: Verdana;
	fontSize: 12;
	width: 300;
	height: 120;
	labelPlacement: "bottom";
	paddingLeft: 2;
	paddingRight: 2;
	horizontalGap: 1;
	paddingTop: 2;
	paddingBottom: 2;
	rollOverColor: #F1F7CD;
	selectionColor: #F8F79F;
}
.warningLabel
{
	color: #17871C;
	fontWeight: bold;
}
.warningLabelMinor
{
	color: #17871C;
	fontWeight: normal;
}
.warningLabelSevere
{
	color: #EE2525;
	fontWeight: bold;
	fontSize: 10;
}
.navLinkButtonSmall
{
	color: #ffffff;
	textAlign: right;
	textDecoration: underline;
	paddingLeft: 1;
	paddingRight: 1;
	fontSize: 11;
	
}
.hintBox
{
	backgroundColor: #FFFFFF;
	fontStyle: italic;
	fontWeight: normal;
	textDecoration: underline;
	backgroundAlpha: 0.26;
	borderStyle: solid;
	backgroundSize: "100%";
	cornerRadius: 4;
}
.hintLink
{
	fontSize: 9;
	paddingLeft: 1;
	paddingRight: 1;
	paddingBottom: 1;
	paddingTop: 1;
}
Label.welcomeLabel
{
	fontSize: 17;
	color: #FFFFFF;
	fontWeight: normal;
	fontFamily: Arial;
	fontStyle: normal;
}
Text.welcomeUserLabel
{
	color: #453D33;
	fontSize: 12;
	leading: 0;
	fontWeight: normal;
}
Text.welcomeSessionLabel
{
	color: #453D33;
	fontSize: 11;
	leading: 0;
	fontWeight: normal;
}
Text.navLabel
{
	color: #ffffff;
	fontSize: 11;
	leading: 0;
}
Text.navLabelSmall
{
	color: #ffffff;
	fontSize: 12;
	leading: 0;
}
.alertTitle
{
	fontSize: 11;
}
.alertControlBar
{
	fontSize: 11;
	color: #000000;
	backgroundAlpha: 0.7;
}
Text.progressLabel
{
	color: #ffffff;
	fontFamily: Arial;
	fontSize: 12;
	fontWeight: normal;
	textAlign: center;
}

