body {
      font-family: arial,Helvetica,sans-serif;
      font-size: 9pt;
      width: 960;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
 }

 table {
  width: 960;

 }    

 table.grid {
  border: none;
  width: 960;

 }
 
 hr {
  width: 960;
  text-align: left;
  color: #9E9E9E;
  background-color: #9E9E9E;
  margin-bottom: 10px;    
 } 
 
  H3 {
      font-size: 10pt;
      font-weight: bold;
      padding-top: 0;
      padding-right: 8;
      padding-bottom: 0;     
  }
 

 caption{
      font-size: 10pt;
      color: black;
      font-weight: bold;
      padding-top: 15;
      padding-bottom: 5;
      text-align: left;
  }



  td.value {
      font-size: 10pt;
      padding-top: 0;
      padding-bottom: 0;
      
  }

  td.label {
      font-size: 9pt;
      font-weight: bold;
      padding-top: 0;
      padding-right: 8;
      padding-bottom: 0;     
  }
  
  td.note {
      font-size: 10pt;
      padding-top: 4;
      padding-bottom: 0;
      padding-right: 8;
      padding-left: 4;

  }
  td.grid {
      font-size: 9pt;
      padding-top: 4;
      padding-bottom: 0;
      padding-right: 8;
      padding-left: 4;
  }
  


  td.gridright {
      font-size: 9pt;
      text-align: RIGHT;
      padding-top: 4;
      padding-bottom: 0;
      padding-right: 8;
      padding-left: 4;
  }
  

  td.gridcenter {
      font-size: 9pt;
      text-align: CENTER;
      padding-top: 4;
      padding-bottom: 0;
      padding-right: 8;
      padding-left: 4;


  }

  td.gridtotal {
      font-size: 9pt;
      font-weight: bold;
      text-align: RIGHT;
      padding-top: 4;
      padding-bottom: 0;
      padding-right: 8;
      padding-left: 4;
      border-color: #CDCDC1;
      border-top: thin  solid;
      border-width: 1;

  }

  td.gridempty {
      width: 150;
  }  
  
  td.gridemptysmall {
      border-color: #CDCDC1;
      width: 50;
  } 

  th {
       font-size: 9pt;
       font-weight: bold;
       text-decoration: underline;
       padding-top: 8;
       padding-bottom: 0;
       padding-right: 8;
       padding-left: 4;
       text-align: left;
       border: none;
   }
   
   th.right {
       text-align: right;
   }
   
   
   a {
       font-size: 9pt;
       text-align: left;
   }







