<div class="container" ng-controller="LoginController">
   <div class="row">
	   	<div class="col-lg-offset-3 col-lg-4">
		    <h3>Send Issue to BioMiner Team</h3>
		</div>
   </div>
   <div class="row">
        <div class="col-sm-6">
           <a href="https://sourceforge.net/p/biominerqt/tickets/new"><h4>Use SourceForge Ticket System</h4></a>
        </div>
   </div>
   <div class="row">
        <div class="col-sm-6">
           <h4>OR</h4>
        </div>
   </div>

    <form class="form-horizontal" role="issueForm">
    <span class="label label-danger" ng-show="issueMessage != null">{{issueMessage}}</span>
	  <div class="form-group">
	    <label for="issueProblem" class="control-label">Please enter your feedback in text box below:</label>
	    <div>
	     	<textarea style="overflow-y: scroll; overflow-x: scroll" class="form-control" rows="10" id="issueProblem" ng-model="issueProblem"></textarea>
	    </div>
	  </div>

	  <div class="form-group">
	    <label class="control-label" for="issueEmail">Your email address:</label>
		<input class="form-control" id="issueEmail" ng-model="issueEmail" class="form-control input-lg"/>
      </div>

	</form>

  <div>
	<button class="btn btn-primary" ng-click="submitIssue()">Submit</button>
	<button class="btn btn-warning" ng-click="close()">Close</button>
  </div>
</div>
