<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
	"http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

	<context-param>
		<param-name>mode</param-name>
		<param-value>opensource</param-value>
	</context-param>

	<servlet>
		<servlet-name>GNomExFrontController</servlet-name>
		<servlet-class>
			hci.gnomex.controller.GNomExFrontController
		</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>CheckSessionStatus</servlet-name>
	    <display-name>CheckSessionStatus</display-name>
	    <description>The CheckSessionStatus to check session status</description>
	    <servlet-class>hci.gnomex.controller.CheckSessionStatus</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ExperimentQueue</servlet-name>
	    <display-name>ExperimentQueue</display-name>
	    <description>The ExperimentQueue to check experiment status</description>
	    <servlet-class>hci.gnomex.controller.ExperimentQueue</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>CustomCaptchaURLServlet</servlet-name>
		<servlet-class>
			hci.gnomex.controller.CustomCaptchaURLServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Captcha</servlet-name>
		<display-name>Captcha</display-name>
		<servlet-class>
			hci.gnomex.controller.CustomCaptchaServlet
		</servlet-class>
		<init-param>
			<param-name>width</param-name>
			<param-value>180</param-value>
		</init-param>
		<init-param>
			<param-name>height</param-name>
			<param-value>60</param-value>
		</init-param>
	</servlet>


	<servlet>
		<servlet-name>DownloadResultsServlet</servlet-name>
		<servlet-class>
			hci.gnomex.controller.DownloadResultsServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DownloadAnalysisFolderServlet</servlet-name>
		<servlet-class>
			hci.gnomex.controller.DownloadAnalysisFolderServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DownloadFileServlet</servlet-name>
		<servlet-class>
			hci.gnomex.controller.DownloadFileServlet
		</servlet-class>
	</servlet>
	
	
	<servlet>
		<servlet-name>FastDataTransferDownloadExpServlet</servlet-name>
		<servlet-class>
			hci.gnomex.controller.FastDataTransferDownloadExpServlet
		</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>FastDataTransferDownloadDataTrackServlet</servlet-name>
		<servlet-class>
			hci.gnomex.controller.FastDataTransferDownloadDownloadServlet
		</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>FastDataTransferDownloadAnalysisServlet</servlet-name>
		<servlet-class>
			hci.gnomex.controller.FastDataTransferDownloadAnalysisServlet
		</servlet-class>
	</servlet>
	

	<servlet>
		<servlet-name>FastDataTransferUploadGetJnlpServlet</servlet-name>
		<servlet-class>
			hci.gnomex.controller.FastDataTransferUploadGetJnlpServlet
		</servlet-class>
	</servlet>


	<servlet>
		<servlet-name>DownloadSingleFileServlet</servlet-name>
		<servlet-class>
			hci.gnomex.controller.DownloadSingleFileServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DownloadAnalysisFileServlet</servlet-name>
		<servlet-class>
			hci.gnomex.controller.DownloadAnalysisFileServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DownloadAnalysisSingleFileServlet</servlet-name>
		<servlet-class>
			hci.gnomex.controller.DownloadAnalysisSingleFileServlet
		</servlet-class>
	</servlet>


	<servlet>
		<servlet-name>DownloadDataTrackFileServlet</servlet-name>
		<servlet-class>
			hci.gnomex.controller.DownloadDataTrackFileServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>UploadAnalysisFileServlet</servlet-name>
		<servlet-class>
			hci.gnomex.controller.UploadAnalysisFileServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>UploadAnalysisURLServlet</servlet-name>
		<servlet-class>
			hci.gnomex.controller.UploadAnalysisURLServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>UploadDataTrackFileServlet</servlet-name>
		<servlet-class>
			hci.gnomex.controller.UploadDataTrackFileServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>UploadDataTrackURLServlet</servlet-name>
		<servlet-class>
			hci.gnomex.controller.UploadDataTrackURLServlet
		</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>UploadSequenceFileServlet</servlet-name>
		<servlet-class>
			hci.gnomex.controller.UploadSequenceFileServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>UploadSequenceURLServlet</servlet-name>
		<servlet-class>
			hci.gnomex.controller.UploadSequenceURLServlet
		</servlet-class>
	</servlet>
	

	<servlet>
		<servlet-name>UploadSampleSheetFileServlet</servlet-name>
		<servlet-class>
			hci.gnomex.controller.UploadSampleSheetFileServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>UploadSampleSheetURLServlet</servlet-name>
		<servlet-class>
			hci.gnomex.controller.UploadSampleSheetURLServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>UploadAndBroadcastEmailServlet</servlet-name>
		<servlet-class>
			hci.gnomex.controller.UploadAndBroadcastEmailServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>UploadAndBroadcastEmailURLServlet</servlet-name>
		<servlet-class>
			hci.gnomex.controller.UploadAndBroadcastEmailURLServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>UploadExperimentFileServlet</servlet-name>
		<servlet-class>
			hci.gnomex.controller.UploadExperimentFileServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>UploadExperimentURLServlet</servlet-name>
		<servlet-class>
			hci.gnomex.controller.UploadExperimentURLServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>GNomExFrontController</servlet-name>
		<url-pattern>*.gx</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CheckSessionStatus</servlet-name>
		<url-pattern>CheckSessionStatus.gx</url-pattern>
	</servlet-mapping>	
	
	<servlet-mapping>
		<servlet-name>ExperimentQueue</servlet-name>
		<url-pattern>ExperimentQueue.gx</url-pattern>
	</servlet-mapping>	
	
	<servlet-mapping>
		<servlet-name>DownloadResultsServlet</servlet-name>
		<url-pattern>DownloadResultsServlet.gx</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DownloadAnalysisFolderServlet</servlet-name>
		<url-pattern>DownloadAnalysisFolderServlet.gx</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DownloadDataTrackFileServlet</servlet-name>
		<url-pattern>DownloadDataTrackFileServlet.gx</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DownloadFileServlet</servlet-name>
		<url-pattern>DownloadFileServlet.gx</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>FastDataTransferDownloadExpServlet</servlet-name>
		<url-pattern>FastDataTransferDownloadExpServlet.gx</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>FastDataTransferDownloadAnalysisServlet</servlet-name>
		<url-pattern>FastDataTransferDownloadAnalysisServlet.gx</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>FastDataTransferDownloadDataTrackServlet</servlet-name>
		<url-pattern>FastDataTransferDownloadDataTrackServlet.gx</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>FastDataTransferUploadGetJnlpServlet</servlet-name>
		<url-pattern>FastDataTransferUploadGetJnlpServlet.gx</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>DownloadSingleFileServlet</servlet-name>
		<url-pattern>DownloadSingleFileServlet.gx</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DownloadAnalysisFileServlet</servlet-name>
		<url-pattern>DownloadAnalysisFileServlet.gx</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DownloadAnalysisSingleFileServlet</servlet-name>
		<url-pattern>DownloadAnalysisSingleFileServlet.gx</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>UploadAnalysisFileServlet</servlet-name>
		<url-pattern>UploadAnalysisFileServlet.gx</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>UploadDataTrackFileServlet</servlet-name>
		<url-pattern>UploadDataTrackFileServlet.gx</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>UploadSequenceFileServlet</servlet-name>
		<url-pattern>UploadSequenceFileServlet.gx</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>UploadSequenceURLServlet</servlet-name>
		<url-pattern>UploadSequenceURLServlet.gx</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>UploadSampleSheetFileServlet</servlet-name>
		<url-pattern>UploadSampleSheetFileServlet.gx</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>UploadAndBroadcastEmailServlet</servlet-name>
		<url-pattern>UploadAndBroadcastEmailServlet.gx</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>UploadAnalysisURLServlet</servlet-name>
		<url-pattern>UploadAnalysisURLServlet.gx</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>UploadDataTrackURLServlet</servlet-name>
		<url-pattern>UploadDataTrackURLServlet.gx</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	
		<servlet-name>UploadSampleSheetURLServlet</servlet-name>
		<url-pattern>UploadSampleSheetURLServlet.gx</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>UploadAndBroadcastEmailURLServlet</servlet-name>
		<url-pattern>UploadAndBroadcastEmailURLServlet.gx</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>UploadExperimentFileServlet</servlet-name>
		<url-pattern>UploadExperimentFileServlet.gx</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>UploadExperimentURLServlet</servlet-name>
		<url-pattern>UploadExperimentURLServlet.gx</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CustomCaptchaURLServlet</servlet-name>
		<url-pattern>CustomCaptchaURLServlet.gx</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Captcha</servlet-name>
		<url-pattern>/Captcha.jpg</url-pattern>
	</servlet-mapping>
	<!-- Session timeout set to 4 hours -->
	<session-config>
		<session-timeout>240</session-timeout>
	</session-config>

	<security-constraint>
		<display-name>GNomExUser</display-name>
		<web-resource-collection>
			<web-resource-name>Login</web-resource-name>
			<description>Login</description>
			<url-pattern>gnomexFlex.jsp</url-pattern>
			<url-pattern>login_verify.jsp</url-pattern>
			<url-pattern>CreateBillingItems.gx</url-pattern>
			<url-pattern>CreateSecurityAdvisor.gx</url-pattern>
			<url-pattern>uploadAnalysisFile.jsp</url-pattern>
			<url-pattern>uploadAnalysisFile_plupload.jsp</url-pattern>
			<url-pattern>uploadExperimentFile.jsp</url-pattern>
			<url-pattern>uploadExperimentFile_plupload.jsp</url-pattern>
			<url-pattern>uploadSampleSheetFile.jsp</url-pattern>
			<url-pattern>uploadSampleSheetFile_plupload.jsp</url-pattern>
			<url-pattern>launcher_reconnect.jsp</url-pattern>
			<url-pattern>launch.jsp</url-pattern>
			<url-pattern>Delete*.gx</url-pattern>
			<url-pattern>Save*.gx</url-pattern>
			<url-pattern>ImportSegments.gx</url-pattern>
			<url-pattern>SubmitWorkAuthForm.gx</url-pattern>
			<url-pattern>DuplicateDataTrack.gx</url-pattern>
			<url-pattern>GenerateUserAccountEmail.gx</url-pattern>
			<url-pattern>GetAppUser.gx</url-pattern>
			<url-pattern>GetAnalysisLabList.gx</url-pattern>
			<url-pattern>GetBillingItemList.gx</url-pattern>
			<url-pattern>GetBillingRequestList.gx</url-pattern>
			<url-pattern>GetPrice*.gx</url-pattern>
			<url-pattern>GetPricing*.gx</url-pattern>
			<url-pattern>GetWorkItemList.gx</url-pattern>
			<url-pattern>GetUsageData.gx</url-pattern>
			<url-pattern>LinkDataTrackFile.gx</url-pattern>
			<url-pattern>MovePriceCategory.gx</url-pattern>
			<url-pattern>MoveDataTrack.gx</url-pattern>
			<url-pattern>MoveDataTrackFolder.gx</url-pattern>
			<url-pattern>OrganizeExperimentUploadFiles.gx</url-pattern>
			<url-pattern>Reassign*.gx</url-pattern>
			<url-pattern>ShowAnalysisDownloadForm.gx</url-pattern>
			<url-pattern>ShowBillingGLInterface.gx</url-pattern>
			<url-pattern>ShowBillingInvoiceForm.gx</url-pattern>
			<url-pattern>ShowBillingMonthendReport.gx</url-pattern>
			<url-pattern>ShowBillingTotalByLabReport.gx</url-pattern>
			<url-pattern>ShowRequestDownloadForm.gx</url-pattern>
			<url-pattern>SplitBillingAccounts.gx</url-pattern>
			<url-pattern>UploadAnalysisFileServlet.gx</url-pattern>
			<url-pattern>UploadDataTrackFileServlet.gx</url-pattern>
			<url-pattern>UploadSequenceFileServlet.gx</url-pattern>
			<url-pattern>UploadExperimentFileServlet.gx</url-pattern>
			<url-pattern>UploadAndBroadcastEmailServlet</url-pattern>			
			<url-pattern>FastDataTransferUploadGetJnlpServlet.gx</url-pattern>	
			<url-pattern>ExperimentQueue.gx</url-pattern>	
		</web-resource-collection>
		<auth-constraint>
			<role-name>GNomExUser</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<welcome-file-list>
		<welcome-file>gnomexFlex.jsp</welcome-file>
		<welcome-file>gnomex.html</welcome-file>
	</welcome-file-list>

	
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>hciEnv</realm-name>
		<form-login-config>
			<form-login-page>/login.jsp</form-login-page>
			<form-error-page>/login_failed.jsp</form-error-page>
		</form-login-config>
	</login-config>



	<security-role>
		<role-name>GNomExUser</role-name>
	</security-role>


</web-app>