
<div class="container">
  <div class="row">

    <div class="card full">
      <div class="card-padding">
        <h3>Home Component</h3>
        <p>Welcome to Angular Seed.  This is an example of a full width card.</p>
      </div>
    </div>

    <div class="card">
      <div class="card-padding min-30">
        <h4>Github Example</h4>
        <div class="col-md-offset-1">
          <ul>
            <li>
              <a class="content-link" [routerLink]="[ '/repo' ]">Github Default Link (redirects)</a>
            </li>
            <li>
              <a class="content-link" [routerLink]="[ '/repo/repo-list/angular' ]">Github Repo-List Direct Link</a>
            </li>
            <li>
              <a class="content-link" [routerLink]="[ '/repo/repo-list/angular/repo-detail/angular.js' ]">Github Split-Screen Direct Link</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-padding min-30">
        <h4>Sidebar Example</h4>
        <div class="col-md-offset-1">
          <ul>
            <li>
              <a class="content-link" [routerLink]="[ '/sidebar' ]">Sidebar Default Link (redirects)</a>
            </li>
            <li>
              <a class="content-link" [routerLink]="[ '/sidebar/content1' ]">Content 1</a>
            </li>
            <li>
              <a class="content-link" [routerLink]="[ '/sidebar/content2' ]">Content 2</a>
            </li>
            <li>
              <a class="content-link" [routerLink]="[ '/sidebar/content3' ]">Content 3</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-padding min-30">
        <h4>About</h4>
        <div class="col-md-offset-1">
          <ul>
            <li>
              <a class="content-link" [routerLink]="[ '/about' ]">About Link</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-padding min-30"></div>
    </div>

    <div class="card two-third">
      <div class="card-padding min-30"></div>
    </div>

    <div class="card two-third">
      <div class="card-padding min-50"></div>
    </div>

    <div class="card">
      <div class="card-padding min-50"></div>
    </div>

  </div>
</div>
