/* CSS file */
.tab {
    background-color: #e1e1e1
}

.panel {
    background-color: #e1e1e1
}


.catalogPanel
{
    highlightAlphas:        .7, .6, .5, .25;
    headerColors:           #456F84, #9ABBC9;
    borderAlpha:            1;
    borderColor:            #FFFFFF;
    borderThicknessRight:   1;
    borderThicknessBottom:  1;
    paddingRight:           0;
    paddingBottom:          0;
}


.cy3 {
    color: #008000;
    fontSize: 10;
    fontWeight: bold;
}

.cy5 {
    color: #800000;
    fontSize: 10;
    fontWeight: bold;
}





.form {
	  backgroundColor: #e3ecf4;
}

 Button {
        fillAlphas: 1, 1;
        fontWeight: normal;
}



TabNavigator {
        backgroundColor: #2e63a5;
	    backgroundAlpha:            .1;
	    tabStyleName:      tabHeader;
		selectedTabTextStyleName: tabHeaderTextSelected;
}

.tabHeader {
	fillColors: #FFFFFF, #FFFFFF; 
	fillAlphas:  .2, .2;
 	    fontWeight: 		normal;		    
	    backgroundAlpha:            .1;
}

.userTabNavigator {
        backgroundColor: #FFFFFF;
	    backgroundAlpha:            .5;
	    tabStyleName:      userTabHeader;
	selectedTabTextStyleName: userTabHeaderTextSelected;
}

.userTabHeader {
	fillColors: #FFFFFF, #FFFFFF; 
 	    fontWeight: 		normal;		    
	    backgroundAlpha:            .5;
}
.userTabHeaderTextSelected {
	    fontWeight:  bold;
}

.tabHeaderTextSelected {
	    fontWeight:  normal;
}

ApplicationControlBar {
	fillColors: #548db8, #97b8d2; 
}

LinkBar {
	    fontWeight: normal;
	    disabledColor: #FFFFFF; 
	    rollOverColor: #FFFFFF; 
	    selectionColor: #FFFFFF;
	    useHandCursor: true;
}



DataGrid {
	headerStyleName: header;
}
.header {
	    fontWeight: normal;

}

ComboBox {
	fontWeight: normal;
}


        Panel {
           borderThicknessLeft: 4;
           borderThicknessTop: 0;
           borderThicknessBottom: 4;
           borderThicknessRight: 4;
           roundedBottomCorners: false;
           headerHeight: 23;
          
           
           footerColors: #A1A79D, #A1A79D;
           titleStyleName: "mypanelTitle";
		   borderColor: #A1A79D;
			borderAlpha: 1.0;
			controlBarStyleName: panelControlBar;
		   
	
        }
        .mypanelTitle {
           fontWeight: normal;
        }
        .panelControlBar {
        	roundedBottomCorners: false;
        }
        ControlBar {
        	paddingLeft: 4;
        	paddingTop: 4;
        	paddingBottom: 4;
        	paddingRight: 4;
        	
        }
        


.panelTitle {
	fontWeight: normal;
}

RadioButton {
	disabledColor: #5f5f5f;
}
TextInput {
	disabledColor: #5f5f5f;
}
TextArea {
	disabledColor: #5f5f5f;
}

TitleWindow {
		panelAlpha: .5;
		dropShadowEnabled: false;
        borderAlpha: 1.0;
        borderColor: #fee789;
        backgroundColor: haloSilver;
        cornerRadius: 14;
        roundedBottomCorners: true;
        borderThicknessBottom: 4;
        borderThicknessTop: 4;
        borderThicknessLeft: 4;
        borderThicknessRight: 4;
		showCloseButton:   true;
      	borderColor: #FFFFFF; 
      	borderThickness: 4;
}
.panelStatus
{
}
.panelControlBar
{
}








