/* CSS file */

/*
HCI Blue = 00529F
HCI Teal = 00A9B9
HCI Cream = F2EFD9
*/
 

.errorTip { 
			borderColor: #FFEA00;
			paddingTop: 0;
			paddingBottom: 0;
			paddingLeft: 4;
			paddingRight: 4;
			fontWeight: normal;
			fontSize: 9px;
			backgroundColor: #ffffcc;
			cornerRadius: 8;
	        color: #000000;
	borderThickness: 3;

		}
ToolTip{
     borderSkin: ClassReference("views.util.SmallToolTip");
}

.requiredBox {
	borderColor: #FCF495;
	borderStyle: solid;
	borderThickness: 2;
}

.normalBox {
	borderColor: #FFFFFF;
	borderStyle: solid;
	borderThickness: 2;
}

.requiredBoxThick {
	borderColor: #F4F588;
	borderStyle: solid;
	borderThickness: 2;
}

.normalBoxThick {
	borderColor: #FFFFFF;
	borderStyle: solid;
	borderThickness: 2;
}

.requiredCell {
	backgroundColor: #FFFFB9;
}

ComboBox {
	errorColor: #ffff00;
}
TextInput {
	errorColor: #ffff00;
}

List {
	selectionColor: #8FBCF4;
	rollOverColor: #CCE3FA;

  paddingBottom: 0;   
  paddingLeft: 0;   
  paddingTop: 0;   
  paddingRight: 0;   

}

DataGrid {
	headerStyleName: dataGridHeader;	
	selectionColor: #8FBCF4;
	rollOverColor: #CCE3FA;

}

Tree {
	selectionColor: #8FBCF4;
	rollOverColor: #CCE3FA;
	dropShadowEnabled: true;
}
AdvancedDataGrid {
	selectionColor: #8FBCF4;
	rollOverColor: #CCE3FA;

}

Panel {
   borderThicknessLeft: 4;
   borderThicknessTop: 0;
   borderThicknessBottom: 4;
   borderThicknessRight: 4;
   roundedBottomCorners: true;
   headerHeight: 22;
   backgroundColor: #C3C2B7;
   border-color: #C3C2B7;
   titleStyleName: panelTitle;
   controlBarStyleName: panelControlBar;
   statusStyleName: panelStatus;
   borderAlpha: 1;
   dropShadowEnabled: true;
}
.panelControlBar {
	roundedBottomCorners: false;
}
.panelTitle {
	fontWeight: normal;
	fontStyle: normal;
}

.navBox {
	backgroundColor: #C3C2B7;
	borderColor: #C3C2B7;
	borderStyle: solid;
	cornerRadius: 5;
	horizontalGap: 12;
	paddingBottom: 2;
	paddingTop: 2;
}

TitleWindow {
 headerColors:  #b3b198, #b0ae9d;
	borderColor: #C3C2B7;
	backgroundColor: #C3C2B7;
	cornerRadius: 4;
	borderThicknessTop: 4;
	borderThicknessBottom: 4;
	borderThicknessLeft: 4;
	borderThicknessRight: 4;
	titleStyleName: titleWindowTitle;
	headerHeight: 24;
	controlBarStyleName: titleWindowControlBar;
	dropShadowEnabled: true;
}
.titleWindowTitle
{ 
	color: #FFFFFF;
	fontWeight: normal;
}

Alert {
	borderAlpha: 0;
	headerColors: #888a97, #888a97;
	backgroundColor: #888a97;
	borderColor: #888a97;
	cornerRadius: 4;
	borderStyle: solid;

}


 
HDividedBox {
	horizontalGap: 6;
}


ApplicationControlBar {
	fillColors: #548db8, #97b8d2; 
	dropShadowEnabled: true;
}
.accordion {

	headerStyleName: accordionHeader;
	headerHeight: 24;
	dropShadowEnabled: true;
	cornerRadius: 6;
	focusAlpha: .5; 
	backgroundColor: #CBCAC1;
	

}
.accordionHeader
{
	fillColors: #87999D, #E3E8EB;
	fillAlphas: 1.0, 1.0, 1.0, 1.0;
	selectedFillColors: #548db8, #97b8d2;
	fontWeight: normal;
	cornerRadius: 6;
	borderColor: #B7BABC;
	color: #FFFFFF;
	textRollOverColor: #FFFFFF;
	disabledColor: #FFFFFF;
}


LinkBar {
	    disabledColor: #FFFFFF; 
	    rollOverColor: #FFFFFF; 
	    selectionColor: #FFFFFF;
	    useHandCursor: true;
	     
}


Button {
        fillAlphas: 1, 1;
        fontWeight: normal;
}

.dataGridHeader {
	    fontWeight: normal;
}

ComboBox {
	fontWeight: normal;
}

ControlBar {
	paddingLeft: 8;
	paddingTop: 0;
	paddingBottom: 3;
	paddingRight: 8;
}
        
RadioButton {
	disabledColor: #5f5f5f;
}
TextInput {
	disabledColor: #5f5f5f;
	backgroundColor: #E4E0E0;
}
TextArea {
	disabledColor: #5f5f5f;
		backgroundColor: #E4E0E0;
}




.form {
	backgroundColor: #FFFFFF;
	cornerRadius: 4;
	borderStyle: solid;
	dropShadowEnabled: true;
}

.formrule
{
	strokeColor: #a1a1a2;
}


.formTabBody {
	backgroundColor: #FFFFFF;
	
	dropShadowEnabled: true;
	borderStyle: solid;
	cornerRadius: 4;
}
.formTabBar {
	backgroundColor: #FFFFFF;
	borderStyle: none;
	dropShadowEnabled: false;
}

.formLinkBar {
	disabledColor: #0F24E6; 
	rollOverColor: #FFFFFF; 
	selectionColor: #FFFFFF;
	useHandCursor: true;
	color: #656C6E;
	fontWeight: normal;
	textDecoration: underline;
}

.navLinkBar {
	disabledColor: #0F24E6; 
	rollOverColor: #FFFFFF; 
	selectionColor: #FFFFFF;
	useHandCursor: true;
	color: #000000;
	fontWeight: normal;
	textDecoration: underline;
}

.formLinkButton {
	textDecoration: underline;
	color: #0000ff;
	
}

.formLinkSmallButton {
	textDecoration: underline;
	fontSize: 9;
	
}
.labelSmall {
	fontSize: 9;
}
.navTabNavigator {
	 backgroundAlpha:            1.0;
	 backgroundColor: #C3C2B7;
	 borderColor: #C3C2B7;
	 borderStyle: solid;
	 color: #74878B;
	 tabStyleName: navTabHeader;
	 firstTabStyleName: navTabHeader;
	 middleTabStyleName: navTabHeader;
	 lastTabStyleName: navTabHeader;
	 
}

.navTabHeader {
	fill-colors: #81817f, #b9b8ad;
	color: #5D5252;
	backgroundColor: #97b8d2;
	fillAlphas:  1, 1;
 	fontWeight: 		normal;
 	

}

.navTabHeaderTextSelected {
	color: #FFFFFF;
	errorColor: #FFFFFF;
}



.navLinkBar {
	disabledColor: #1728CF; 
	rollOverColor: #FFFFFF; 
	selectionColor: #FFFFFF;
	useHandCursor: true;
	color: #000000;
	fontWeight: normal;
	textDecoration: underline;
}

.popupWindow {
	headerColors: #CBCAC1, #CBCAC1;
	backgroundColor: #CBCAC1;
	borderColor: #CBCAC1;
	cornerRadius: 4;
	borderStyle: none;

}

.appProgressWindow {
   borderAlpha: 1;
   dropShadowEnabled: true;
   cornerRadius: 4;
   headerColors: #548db8, #a3bbcd; 
   borderThicknessLeft: 0;
   borderThicknessTop: 0;
   borderThicknessBottom: 0;
   borderThicknessRight: 0;
   roundedBottomCorners: true;
   headerHeight: 0;
   titleStyleName: appProgressTitle;
   backgroundColor: #A3BBCD;
   borderColor: #A3BBCD;
}


.appProgressBar {
    barColor: #F5F4DB;
    trackColors: #A3BBCD, #A3BBCD;
    paddingTop: 14;
	trackHeight: 4;
	verticalGap: 0;
	paddingLeft: 14;
	paddingRight: 14;
	verticalGap: 10;
}


.appProgressTitle {
	fontWeight: normal;
	fontColor: black;
	
}

.dirtyPanel {
   headerColors:   #66aa55, #99dd99; 
   titleStyleName: dirtyPanelTitle;
   
}

.dirtyPanelTitle {
	 color: #ffffff;
	/*fontStyle: italic;*/

	 
}

.blueLinkButton {
	color: #0F19DF;
}
.tabBarSelectedTabText
{
	fontFamily: "Arial Narrow";
}
VBox.instructionBox
{
	backgroundColor: #FFFEC3;
}


