/* Include instructions for when 'Print all' link clicked */
@media print {
   body {
      font-family: Arial,Helvetica;
      font-size: 9pt;
      width: 700;
      text-align: left;
      margin-left: 1;
   }
   
   a {
   	  display: none;
   }
   
}