<!-- Form for Genome Build Details  -->

<style>
label.bi {
    font-style: italic !important;
    color: blue;
    width: 5%;
	}
input.wide {
	width: 80%;
	}
</style>

<div class="container-fluid" style="padding-top: 10px">
	<div class="row">
		<label for="das2name" class="bi">DAS2 name:</label>
		<input type="text" id="das2name" ng-model="$parent.genomeBuildSelected.das2Name" readonly class="wide">
		<br>

		<label for="name" class="bi">Name:</label>
		<input type="text" id="name" ng-model="$parent.genomeBuildSelected.genomeBuildName" readonly class="wide">
		<br>

		<label for="ucscname" class="bi">UCSC name:</label>
		<input type="text" id="ucscname" ng-model="$parent.genomeBuildSelected.ucscName" readonly class="wide">
		<br>

		<label for="igvname" class="bi">IGV name:</label>
		<input type="text" id="igvname" ng-model="$parent.genomeBuildSelected.igvName" readonly class="wide">
		<br>

		<label for="coorduri" class="bi">Coord URI:</label>
		<input type="text" id="coorduri" ng-model="$parent.genomeBuildSelected.coordURI" readonly class="wide">
		<br>

		<label for="coordversion" class="bi">Coord version:</label>
		<input type="text" id="coordversion" ng-model="$parent.genomeBuildSelected.coordVersion" readonly class="wide">
		<br>

  		<label for="coordsource" class="bi">Coord source:</label>
		<input type="text" id="coordsource" ng-model="$parent.genomeBuildSelected.coordSource" readonly class="wide">
	    <br>

  		<label for="coordtestrange" class="bi">Coord test range:</label>
		<input type="text" id="coordtestrange" ng-model="$parent.genomeBuildSelected.coordTestRange" readonly class="wide">
	    <br>

  		<label for="coordauthority" class="bi">Coord authority:</label>
		<input type="text" id="coordauthority" ng-model="$parent.genomeBuildSelected.coordTestAuthority" readonly class="wide">
	    <br>

		<label for="isactive" class="bi">Active:</label>
		<input type="text" id="isactive" ng-model="$parent.genomeBuildSelected.isActive" readonly class="wide">

	</div> <!-- end row -->
</div> <!--  end container -->
