html {
	font-size:14px;font-weight:normal;font-family:Helvetica,"Helvetica Neue","Microsoft Sans Serif",Arial;color:#9E8D8D;}
}


h1 {
	font-weight: normal;
	font-size: 24pt;
	margin-top: 10px;
}

table.facilities {
	font-weight: normal;
	font-size: 11pt;
	color: #696969;
}



h3 {
	font-weight: bold;
	font-size: 12pt;
	color: #696969;
	padding-bottom: 5px;
	margin-bottom: 5px;
	padding-top: 0px;
	margin-top: 0px;}

a {
	color: #696969;
	padding: 4px;
	padding-top: 5px;
	font-size: 11pt;
	text-decoration: underline;
}
a:active {
	color: #15c;
}
a:hover {
	text-decoration: underline;
}

a.login {
	color: blue;
	float: left;
	padding-left: 0px;
	padding-top: 15px;
	padding-bottom: 2px;
    font-size: 12 pt;
}
  
a.button {
	font-size: 11pt;
	cursor: hand; 
	cursor: pointer;
	color: blue;
}

a.buttonLarge {
	font-size: 12pt;
	cursor: hand; 
	cursor: pointer;
	color: blue;
}

a.other {
	color: blue;
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 0px;
	padding-top: 0px;
	font-size: 10pt;
	
}

.header-bar {
	float: top;
	width: 800px;
	height: 50px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}


.box {
	background-color: #ececd9;
	overflow: auto;
	padding: 10px;
	width: 400px;
	float: center;
	color: #696969;
	border: 1px solid #8B8970;
}

.boxClear {
	overflow: auto;
	padding: 10px;
	width: 350px;
	float: center;
}

.boxMedium {
	background-color: #ececd9;
	border: 1px solid #8B8970;
	overflow: auto;
	padding: 10px;
	width: 410px;
	float: center;
	color: #696969;
}


.boxWide {
	background-color: #ececd9;  
	border: 1px solid #8B8970;
	overflow: hidden;
	padding: 10px;
	width: 500px;
	float: center;
	color: #696969;
}

.boxSuperWide {
	background-color: #ececd9;  
	border: 1px solid #8B8970;
	overflow: hidden;
	padding: 10px;
	width: 700px;
	float: center;
	color: #696969;
}

.empty {
	clear:both;
	float:left;
	width: 100px;
	padding-top: 5px;
	margin-top: 5px;
	padding-right: 2px;
	margin-right: 2px;
}

.emptySmall {
	clear:both;
	float:left;
	width: 100px;
	padding-top: 2px;
	margin-top: 2px;
	padding-right: 2px;
	margin-right: 2px;
}

.col1 {
	clear:both;
	float:left;
	width: 110px;
	padding-top: 2px;
	margin-top: 2px;
	padding-right: 2px;
	margin-right: 2px;
}

.col1Wide {
	clear:both;
	float:left;
	width: 220px;
	padding-top: 2px;
	margin-top: 2px;
	padding-right: 2px;
	margin-right: 2px;
}

.col2 {
	float:left;
	padding-top: 2px;
	margin-top: 2px;
	padding-right: 10px;
	margin-right: 10px;
}
.boxCenter {
	overflow: auto;
	padding: 10px;
	padding-top: 5px;
	margin-top: 5px;
	padding-bottom: 1px;
	margin-bottom: 1px;
	width: 340px;
	float: center;
}

note {
	padding: 2px;
	padding-bottom: 4px;
	font-size: 10pt;
	font-style: italic;
}

note.inline {
	float: right;
	padding-right: 2px;
	margin-right: 2px;
	padding-top: 2px;
	margin-top: 2px;
	color: #696969;

}

note.centered {
	clear:both;
	float:center;
	padding-right: 14px;
	margin-right: 14px;
	padding-left: 12px;
	margin-left: 12px;
	padding-bottom: 0px;
	padding-top: 2px;
	margin-top: 2px;
}

.topPanel {
	float: top;
	clear: both;
	font-size: 10pt;
	padding-bottom: 10px;
	margin-bottom: 5px;
	color: #ff0000;
}

.bottomPanel {
	float: bottom;
	clear: both;
	padding-top: 10px;
	margin-top: 5px;
}


.buttonPanel {
	float: right;
	padding-top: 7px;
	margin-top: 7px;
	padding-right: 20px;
}

.buttonPanelShort {
	float: right;
	padding-top: 2px;
	margin-top: 2px;
	padding-bottom: 4px;
	margin-bottom: 4px;
	padding-right: 20px;
	font-size: 11pt;
}

input.submit {
	font-size: 11pt;
	font-weight: bold;
	color: #2B3856;
	width: 70px;
	height: 34px;
	vertical-align: middle;
}  

input.text {
	height: 23px;
	float: left;
	font-size: 10pt;
	color: #696969;
	width: 205;  
}


input.text.textWide {
	float: left;
	width: 280px;
	height: 23px;
	font-size: 10pt;
	color: #696969;
}

.textWide {
	float: left;
	width: 280px;
	height: 23px;
	font-size: 10pt;
}


div.left {
	float: left;
}

div.leftInfo {
	float: left;
	clear: both;
	padding-top: 5px;
	margin-top: 5px;
}

div.leftButton {
	clear:both;
	float: left;
	padding-top: 7px;
	margin-top: 7px;
	border: none;
	width: 150;
}

div.right {
	float: right;
	padding-right: 2px;
	margin-right: 5px;
	padding-top: 2px;
	margin-top: 2px;
}

div.leftMenu {
	clear:both;
	float: left;
	padding-top: 5px;
	margin-top: 5px;
	border: none;
	width: 150;
}

div.rightMenu {
	float: right;
	padding-right: 5px;
	margin-right: 5px;
	padding-top: 7px;
	margin-top: 7px;
}

.containerMessage{
	width: 400px;
	height: 100px;
	float: center;
	clear: left;
	background-color: #ececd9;
	padding-top: 16px;
	margin-top: 16px;
	padding-bottom: 0px;
	color: #696969;
	border: 1px solid #8B8970;
}

.message {
	color: SeaGreen;
	margin-top: 15px;
	padding-top: 15px;
	float: center;
}