 h3 {
      font-family: Trebuchet MS;
      font-size: 13pt;
      font-weight: bold;
      color: black;
      line-height: 0;
      padding-top: 5;
      padding-bottom: 0;
 }

 h2 {
      font-family: Trebuchet MS;
      font-size: 11pt;
      font-weight: bold;
      color: black;
      line-height: 0;
      padding-top: 0;
      padding-bottom: 5;
 }   

 table {
  width: 660;
 }    
 
 table.outer {
  border: none;
  width: 660;
 }
 table.grid {
  border: thin solid;
  border-color: #CDCDC1;
  width: 660;
 }
 table.gridHalf {
  border: thin solid;
  border-color: #CDCDC1;
  width: 325;
 }

 caption{

      font-family: Trebuchet MS;
      font-size: 10pt;
      color: black;
      font-weight: bold;
      padding-top: 15;
      padding-bottom: 5;
      text-align: left;
  }

  td.value {

      font-family: Trebuchet MS;
      font-size: 10pt;
      padding-top: 0;
      padding-bottom: 0;
      
  }

  td.label {

      font-family: Trebuchet MS;
      font-size: 10pt;
      font-weight: bold;
      color: #8B7765;
      padding-top: 0;
      padding-right: 10;
      padding-bottom: 0;     
  }

  td.grid {

      font-family: Trebuchet MS;
      font-size: 9pt;
      border-top: thin solid;
      border-left: thin solid;
      border-color: #CDCDC1;
      padding-top: 4;
      padding-bottom: 4;
      padding-right: 4;
      padding-left: 4;
  }
  
    td.gridreverse {

      font-family: Trebuchet MS;
      font-size: 9pt;
      border-top: thin solid;
      border-left: thin solid;
      border-color: #CDCDC1;
      padding-top: 4;
      padding-bottom: 4;
      padding-right: 4;
      padding-left: 4;
      color: white;
      font-weight: bold;
      background-color: gray;
  }

  td.gridleft {

      font-family: Trebuchet MS;
      font-size: 9pt;
      border-top: thin solid;
      border-color: #CDCDC1;
      padding-top: 4;
      padding-bottom: 4;
      padding-right: 4;
      padding-left: 4;
  }

  td.gridempty {
      
      border-top: thin solid;
      border-left: thin solid;
      border-color: #CDCDC1;
      width: 150;
  }  
  
  td.gridemptysmall {
      
      border-top: thin solid;
      border-left: thin solid;
      border-color: #CDCDC1;
      width: 50;
  } 
  
  td.outer {

      font-family: Trebuchet MS;
      font-size: 9pt;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: none;
      vertical-align: top;
  }
  

  th {
       background-color: #6CA6CD;
       font-family: Trebuchet MS;
       font-size: 9pt;
       font-weight: bold;
       color: white;

       padding-top: 0;
       padding-bottom: 4;
       padding-right: 4;
       padding-left: 4;
      
   }
   
   th.normal {
      border-left: thin solid #CDCDC1;      
   }

   th.left {
   }

   th.colgroup {
      border-left: thin solid #CDCDC1;
      border-bottom: thin solid #CDCDC1;
   }
   
   
   a {
       font-family: Trebuchet MS;
       font-size: 10pt;
       text-align: left;
   }

   td {
       font-family: Trebuchet MS;
       font-size: 10pt;
       text-align: left;
   }






