
@media screen {
   body {
      font-family: arial,Helvetica,sans-serif;
      font-size: 9pt;
      width: 700;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
 }
 
 td.gridreverse {
      color: white;
      font-weight: bold;
      background-color: black;
}
}


table {
   cell-padding: 10px;
   width: 700;
   border: none;
   padding-top: 0;
}
table.gridHalf {
	width: 345;
}

p.break {
     page-break-before: always;
}
#container{
	font-size: 11pt;
	width:700;
	margin-left:0;
	margin-right:auto;
	text-align:left;  
 }
 
#printLinkColLeft {
	float: left;
	margin-left: 0px;
	margin-bottom: 15px;
	width: 190;
	line-height: 180%;
	font-style: normal;
	font-size: 9pt;
}
 
#printLinkColRight {
	margin-bottom: 15px;
	float: right;
	margin-left: 0px;
	width: 90;
	line-height: 180%;
	font-style: normal;
	font-size: 9pt;
}


#col1 {
	float: left;
	margin-right: 5;
	width: 345;
}

#col2 { 
	float: right;
	margin-right: 0px;
	width: 345;

}

#footer {
    clear: both;
}

#containerForm{
	font-size: 11pt;
	width:700;
	margin-left:0;
	margin-right:auto;
	text-align:left;  
}
#containerInstruction{
	font-size: 11pt;
	width:700;
	margin-left:0;
	margin-right:auto;
	text-align:left;  
}

H2 {
      margin-top: 0;
      font-size: 12pt;
      font-weight: bold;
      padding-top: 0;
      padding-bottom: 0;
      line-height: 0;
      text-align: center;
} 

h3 {
      font-size: 11pt;
      font-weight: bold;
      padding-top: 5;
      text-align: left;
}

h4 {

      font-size: 10pt;
      font-weight: bold;
      padding-top: 0;
      padding-bottom: 0;
      line-height: 0;
	  text-align: center;
}

h5
{
  font-size: 10pt;
  font-weight: bold;
  color: #8B7765;
  text-align: left;
  margin-top: 15;
  margin-bottom: 5;
}


h6 {
  font-size: 10pt;
  font-weight: normal;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10;
  margin-right: 10;
  padding: 10;
  border: solid thin;
  border-color: #D8D8D8 ;
}

h1.downloadHeader {

      font-size: 10pt;
      font-weight: bold;
      padding-top: 0;
      padding-bottom: 0;
      line-height: 0;
	text-align: left;
}
h2.downloadHeader {

      font-size: 10pt;
      font-weight: bold;
      padding-top: 0;
      padding-bottom: 5;
      line-height: 0;
	  text-align: left;
}

h3.downloadHint {
  font-size: 9pt;
  font-weight: normal;
  font-style: italic;
  margin-top: 10;
  margin-bottom: 25;
  margin-left: 25;
  margin-right: 25;
  padding: 10;
  border: solid thin;
  border-color: #D8D8D8 ;
} 

caption
{
  font-size: 10pt;
  font-weight: bold;
  color: #8B7765;
  caption-side: top;
  text-align: left;
  padding-top: 15;
  padding-bottom: 5;
}



td.label {
  font-size: 9pt;
  border: none;
  font-weight: bold;
  color: #8B7765;
  padding-right: 10;
  padding-top: 0;
  padding-bottom: 0;
     
 
}
 td.value {
  font-size: 9pt;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
}

th {
  font-size: 8pt;
  border-bottom: solid thin;
  border-color: #D8D8D8  ;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 8pt;
}

th.colgroup {
  font-size: 8pt;
 border: none;
}

tr.forcedRowHeight {
	line-height: 130%;
}

td {
 font-size: 9pt;
 padding-left: 2px;
 padding-top: 2px;
 padding-bottom: 2px;
 padding-right: 2px;
 border-bottom: solid thin;
 border-right: solid thin;
 border-color: #D8D8D8  ;
}

td.noborder {
 font-size: 9pt;
 padding-left: 2px;
 padding-top: 2px;
 padding-bottom: 2px;
 padding-right: 2px;
 border: none;
}
td.noborderSmall{
 font-size: 9pt;
 padding-left: 2px;
 padding-top: 2px;
 padding-bottom: 2px;
 padding-right: 10px;
 border: none;
 width: 100;
 text-align: right;
}
caption.narrow
{
  font-size: 10pt;
  font-weight: bold;
  color: #8B7765;
  caption-side: top;
  text-align: left;
  padding-top: 0;
  padding-bottom: 0;
}

td.gridleft {
  border-left: thin solid;
  border-color: #D8D8D8  ;
}

td.gridempty {
  width: 150;
  padding-top: 10px;
  padding-bottom: 10px;
}  
  
td.gridemptysmall {
     padding-top: 10px;
     padding-bottom: 10px;
     width: 40;
} 

td.gridSmall{
     width: 40;
}


td.gridreverse {
	font-style: italic;
	font-weight: bold;
}


td.gridinstructions {
	font-style: italic;
}

li {
  padding-bottom: 15;
}

img {
  line-height: 0;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  vertical-align: middle;
}
