<!-- Topic default form -->

<div class = "container-fluid">
<hr>

<form class="form-inline">
  <div class="form-group">
	  <div class="checkbox col-sm-4">
	    <label>
	      <input ng-model="searchFilter.selectAll" ng-click="findAll()" type="checkbox"> All
	    </label>
	  </div>
  </div>
  <div class="form-group">
    <label "col-sm-4"> Group
  		<select class="form-control" ng-disabled="okToPickLab" ng-model="searchFilter.group" ng-options="l.name for l in labs"><option value="">Select a lab...</option></select>
	</label>
  </div>
  <div class="form-group">
   <div class="col-sm-4">
  	<button type="button" class="btn btn-default" ng-disabled="okToFind" ng-click="find()"><img src="resources/images/magnifier.png"/> Find</button>
   </div>
  </div>
  <div class="form-group">
   <div class="col-sm-4">
    <img src="resources/images/loading-bars.gif" ng-show="showProgressBar"/>
   </div>
  </div>  
</form>

	<div class="row">
	     <!-- Sidebar -->
     	<div class="col-lg-2">

            <div class="panel panel-default">
				<div class="panel-heading"><h5>Topics</h5></div>

				<div treecontrol class="tree-classic" on-selection="showSelected(node)" tree-model="topicTree" expanded-nodes="expandedTopicTree">
     				{{node.label}}
 				</div>

			</div>
     	</div>

		<ng:include src="topicForm"></ng:include>

	</div>
</div>
