 table {
  width: 960;

 }    

 table.grid {
  border: none;
  width: 960;

 }

  H3 {

      font-family: Trebuchet MS;
      font-size: 10pt;
      font-weight: bold;
      padding-top: 0;
      padding-right: 8;
      padding-bottom: 0;     
  }
  
 caption{

      font-family: Trebuchet MS;
      font-size: 10pt;
      color: black;
      font-weight: bold;
      padding-top: 15;
      padding-bottom: 5;
      text-align: left;
  }



  td.value {

      font-family: Trebuchet MS;
      font-size: 10pt;
      padding-top: 0;
      padding-bottom: 0;
      
  }

  td.label {

      font-family: Trebuchet MS;
      font-size: 9pt;
      font-weight: bold;
      padding-top: 0;
      padding-right: 8;
      padding-bottom: 0;     
  }

  td.grid {

      font-family: Trebuchet MS;
      font-size: 9pt;
      
      padding-top: 4;
      padding-bottom: 0;
      padding-right: 8;
      padding-left: 4;

      border-color: #CDCDC1;
      border-bottom: thin  solid;
      border-width: 1;
  }
  


  td.gridright {

      font-family: Trebuchet MS;
      font-size: 9pt;
      text-align: RIGHT;

      padding-top: 4;
      padding-bottom: 0;
      padding-right: 8;
      padding-left: 4;

      border-color: #CDCDC1;
      border-bottom: thin  solid;
      border-width: 1;

  }
  

  td.gridcenter {

      font-family: Trebuchet MS;
      font-size: 9pt;
      text-align: CENTER;

      padding-top: 4;
      padding-bottom: 0;
      padding-right: 8;
      padding-left: 4;

      border-color: #CDCDC1;
      border-bottom: thin  solid;
      border-width: 1;

  }

  td.gridtotal {

      font-family: Trebuchet MS;
      font-size: 9pt;
      font-weight: bold;
      text-align: RIGHT;

      padding-top: 4;
      padding-bottom: 0;
      padding-right: 8;
      padding-left: 4;

	  border: none;

  }

  td.gridempty {
      


      width: 150;
  }  
  
  td.gridemptysmall {

      border-color: #CDCDC1;
      width: 50;
  } 

  th {
       
       font-family: Trebuchet MS;
       font-size: 9pt;
       font-weight: bold;
       text-decoration: underline;
       padding-top: 8;
       padding-bottom: 0;
       padding-right: 8;
       padding-left: 4;
       text-align: left;
       border: none;
 

      
   }
   
   
   a {
       font-family: Trebuchet MS;
       font-size: 9pt;
       text-align: left;
   }







