<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
	"http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<servlet>
		<servlet-name>GNomExFrontController</servlet-name>
		<servlet-class>hci.gnomex.controller.GNomExFrontController</servlet-class>
	</servlet>
	
	<servlet>
    <servlet-name>Captcha</servlet-name>
		<display-name>Captcha</display-name>
    <servlet-class>nl.captcha.servlet.CaptchaServlet</servlet-class>
    </servlet>


	<servlet>
		<servlet-name>DownloadResultsServlet</servlet-name>
		<servlet-class>hci.gnomex.controller.DownloadResultsServlet</servlet-class>
	</servlet>
		
	<servlet>
		<servlet-name>DownloadFileServlet</servlet-name>
		<servlet-class>hci.gnomex.controller.DownloadFileServlet</servlet-class>
	</servlet>
			
	<servlet-mapping>
		<servlet-name>GNomExFrontController</servlet-name>
		<url-pattern>*.gx</url-pattern>
	</servlet-mapping>
	
		
	<servlet-mapping>
		<servlet-name>DownloadResultsServlet</servlet-name>
		<url-pattern>DownloadResultsServlet.gx</url-pattern>
	</servlet-mapping>
	
		<servlet-mapping>
		<servlet-name>DownloadFileServlet</servlet-name>
		<url-pattern>DownloadFileServlet.gx</url-pattern>
	</servlet-mapping>
	
	
	<servlet-mapping>
		<servlet-name>Captcha</servlet-name>
		<url-pattern>/Captcha.jpg</url-pattern>
	</servlet-mapping>
	
	
	<session-config>
		<session-timeout>1440</session-timeout>
	</session-config>
	
	<security-constraint>
		<display-name>GNomExUser</display-name>
		<web-resource-collection>
			<web-resource-name>Login</web-resource-name>
			<description>Login</description>
			<url-pattern>CreateSecurityAdvisor.gx</url-pattern>
			<url-pattern>go_reconnect.jsp</url-pattern>
			<url-pattern>go.jsp</url-pattern>
			<url-pattern>launcher_reconnect.jsp</url-pattern>
			<url-pattern>launch.jsp</url-pattern>
			<url-pattern>Delete*.gx</url-pattern>
			<url-pattern>Save*.gx</url-pattern>
			<url-pattern>GetAppUser.gx</url-pattern>
			<url-pattern>GetLab.gx</url-pattern>
			<url-pattern>GetRequestReviewCODWindow.gx</url-pattern>
			<url-pattern>GetWorkItemList.gx</url-pattern>

		</web-resource-collection>
		<auth-constraint>
			<role-name>GNomExUser</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	
    <welcome-file-list>
       <welcome-file>
           gnomex.html
       </welcome-file>
    </welcome-file-list>
 

	
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>hciEnv</realm-name>
	</login-config>
	
	
	<security-role>
		<role-name>GNomExUser</role-name>
	</security-role>
</web-app>