<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
	"http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<servlet>
		<servlet-name>GNomExFrontController</servlet-name>
		<servlet-class>hci.gnomex.controller.GNomExFrontController</servlet-class>
	</servlet>
	
	<servlet>
    <servlet-name>Captcha</servlet-name>
		<display-name>Captcha</display-name>
    <servlet-class>nl.captcha.servlet.CaptchaServlet</servlet-class>
		<init-param>
			<param-name>cap.border</param-name>
			<param-value>yes</param-value>
		</init-param>
		<!--color of the border. Legal values are r,g,b(and optional alpaha) or white,black,etc. Other values will be ignored-->
		<init-param>
			<param-name>cap.border.c</param-name>
			<param-value>black</param-value>
		</init-param>
		<!--thickness of the border around captcha. Legal values are > 0 other values will be ignored. Defaults to one-->
		<init-param>
			<param-name>cap.border.th</param-name>
			<param-value>1</param-value>
		</init-param>

		<init-param>
			<param-name>cap.cap.producer</param-name>
			<param-value>nl.captcha.obscurity.DefaultCaptchaIml</param-value>
		</init-param>


		<init-param>
			<param-name>cap.word.imp</param-name>
			<param-value>nl.captcha.text.imp.DefaultWordRenderer</param-value>
		</init-param>

		<init-param>
			<param-name>cap.text.producer</param-name>
			<!--<param-value>nl.captcha.sandbox.ChineseTextProducer</param-value>-->
			<param-value>nl.captcha.text.imp.FiveLetterFirstNameTextCreator</param-value>
		</init-param>
		<init-param>
			<param-name>cap.char.arr</param-name>
			<param-value>2,3,4,6,7,8,a,b,c,d,e,f,g,h,k,o,r,s,t,x,y</param-value>
		</init-param>
		<!--if default captcha producer is slelected this value represents the amount of chars that are supplied in the captcha. values below 2 are not exepted when omitted defaults to 5-->
		<init-param>
			<param-name>cap.char.arr.l</param-name>
			<param-value>6</param-value>
		</init-param>
		<init-param>
			<param-name>cap.font.arr</param-name>

			<param-value>Arial,Helvetica,Courier,TimesRoman</param-value>

		</init-param>
		<init-param>
			<param-name>cap.font.size</param-name>
			<param-value>40</param-value>
		</init-param>

		<init-param>
			<param-name>cap.font.color</param-name>
			<param-value>0,100,0</param-value>
		</init-param>

	 

		<init-param>
			<param-name>cap.noise.c</param-name>
			<param-value>190,190,190</param-value>
		</init-param>




    </servlet>


	<servlet>
		<servlet-name>DownloadResultsServlet</servlet-name>
		<servlet-class>hci.gnomex.controller.DownloadResultsServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DownloadAnalysisFolderServlet</servlet-name>
		<servlet-class>hci.gnomex.controller.DownloadAnalysisFolderServlet</servlet-class>
	</servlet>
		
	<servlet>
		<servlet-name>DownloadFileServlet</servlet-name>
		<servlet-class>hci.gnomex.controller.DownloadFileServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DownloadAnalysisFileServlet</servlet-name>
		<servlet-class>hci.gnomex.controller.DownloadAnalysisFileServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>UploadAnalysisFileServlet</servlet-name>
		<servlet-class>hci.gnomex.controller.UploadAnalysisFileServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>UploadAnalysisURLServlet</servlet-name>
		<servlet-class>hci.gnomex.controller.UploadAnalysisURLServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>GNomExFrontController</servlet-name>
		<url-pattern>*.gx</url-pattern>
	</servlet-mapping>
	
		
	<servlet-mapping>
		<servlet-name>DownloadResultsServlet</servlet-name>
		<url-pattern>DownloadResultsServlet.gx</url-pattern>
	</servlet-mapping>
		
	<servlet-mapping>
		<servlet-name>DownloadAnalysisFolderServlet</servlet-name>
		<url-pattern>DownloadAnalysisFolderServlet.gx</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>DownloadFileServlet</servlet-name>
		<url-pattern>DownloadFileServlet.gx</url-pattern>
	</servlet-mapping>
	
  <servlet-mapping>
		<servlet-name>DownloadAnalysisFileServlet</servlet-name>
		<url-pattern>DownloadAnalysisFileServlet.gx</url-pattern>
	</servlet-mapping>

  <servlet-mapping>
		<servlet-name>UploadAnalysisFileServlet</servlet-name>
		<url-pattern>UploadAnalysisFileServlet.gx</url-pattern>
	</servlet-mapping>
	
  <servlet-mapping>
		<servlet-name>UploadAnalysisURLServlet</servlet-name>
		<url-pattern>UploadAnalysisURLServlet.gx</url-pattern>
	</servlet-mapping>
		
	<servlet-mapping>
		<servlet-name>Captcha</servlet-name>
		<url-pattern>/Captcha.jpg</url-pattern>
	</servlet-mapping>
	
	<!-- Session timeout set to 4 hours -->
	<session-config>
		<session-timeout>240</session-timeout>
	</session-config>
	
	<security-constraint>
		<display-name>GNomExUser</display-name>
		<web-resource-collection>
			<web-resource-name>Login</web-resource-name>
			<description>Login</description>
			<url-pattern>CreateBillingItems.gx</url-pattern>
			<url-pattern>CreateSecurityAdvisor.gx</url-pattern>
			<url-pattern>go_reconnect.jsp</url-pattern>
			<url-pattern>go.jsp</url-pattern>
			<url-pattern>launcher_reconnect.jsp</url-pattern>
			<url-pattern>launch.jsp</url-pattern>
			<url-pattern>Delete*.gx</url-pattern>
			<url-pattern>Save*.gx</url-pattern>
			<url-pattern>GetAppUser.gx</url-pattern>
			<url-pattern>GetBillingItemList.gx</url-pattern>
			<url-pattern>GetBillingRequestList.gx</url-pattern>
			<url-pattern>GetBillingTemplateList.gx</url-pattern>
			<url-pattern>GetWorkItemList.gx</url-pattern>
			<url-pattern>ShowBillingGLInterface.gx</url-pattern>
			<url-pattern>ShowBillingInvoiceForm.gx</url-pattern>
			<url-pattern>ShowBillingMonthendReport.gx</url-pattern>
			<url-pattern>UploadAnalysisFileServlet.gx</url-pattern>

		</web-resource-collection>
		<auth-constraint>
			<role-name>GNomExUser</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	
    <welcome-file-list>
       <welcome-file>
           gnomexFlex.jsp
       </welcome-file>
       <welcome-file>
           gnomex.html
       </welcome-file>
    </welcome-file-list>
 

	
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>hciEnv</realm-name>
	</login-config>
	
	
	<security-role>
		<role-name>GNomExUser</role-name>
	</security-role>
	
  
</web-app>